.docMainContainer {
  display: flex;
  width: 100%;
  margin-left: 0px;
}

article,
.paper {
  margin: 0 calc(var(--ifm-spacing-horizontal) * -0.5);
  margin-bottom: calc(var(--ifm-paragraph-margin-bottom) * 1.5);
}

@media (min-width: 997px) {
  .docMainContainer {
    flex-grow: 1;
    max-width: calc(100% - var(--doc-sidebar-width));
  }

  .docMainContainerEnhanced {
    max-width: calc(100% - var(--doc-sidebar-hidden-width));
  }

  .docItemWrapperEnhanced {
    max-width: calc(
      var(--ifm-container-width) + var(--doc-sidebar-width)
    ) !important;
  }
}
